.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.friends {
  display: flex;
  flex-wrap: wrap;
}

.friend {
  width: 30%;
  padding: 5%;
  margin: 2.5%;
  border: 1px solid black;
}

.friends-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}